header{
    font-family: Georgia, 'Times New Roman', Times, serif;
 background-color: cornflowerblue;
 text-align: center;
 padding: 1px;
 }
 
 h1{
    font-size: 30px;
}

.yanto1000{
    text-align: center;
    background-color: aquamarine;
    background-size: ;
    

}